<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBCSqzfVv6tncDGfhdXEjdPRKHqzDPewLo</string>
	<key>GCM_SENDER_ID</key>
	<string>619760323403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.booktickets</string>
	<key>PROJECT_ID</key>
	<string>book-tickets-514df</string>
	<key>STORAGE_BUCKET</key>
	<string>book-tickets-514df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619760323403:ios:5dc75ffe1cb181fd7e76ce</string>
</dict>
</plist>